<div class="chat-block flex-row">
  <img class="avatar" src="/assets/dzPoekhwbUM.jpg" alt="">
  <div class="flex-column chat-block-child-container">
    <div class="chat-block-child flex-space-between">
      <div class="chat-title overflow-hidden-ellipsis">{{ chatData.title }}</div>
      <div>{{ chatData.message.dateTime }}</div>
    </div>
    <div class="chat-block-child flex-space-between">
      <div class="overflow-hidden-ellipsis">
        {{ chatData.message.datas[0].value }}
      </div>
      <div class="unreadMessageCount" *ngIf="chatData.unreadMessageCount>0">
        {{ chatData.unreadMessageCount }}
      </div>
    </div>
  </div>
</div>
