html {
  width: 100%;
  height: 100%;
}

.window {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.chat-list {
  width: 30%;
  background-color: #7474d9;
  resize: horizontal;
}

.message-list {
  width: 70%;
  background-color: cadetblue;
}

.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;

  &-row {
    display: flex;
    flex-direction: row;

    &-block {
      width: max-content;
    }
  }
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.overflow-hidden-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll-block {
  overflow: hidden;
  max-height: 100%;
  overflow-y: scroll;
  scrollbar-width: none
}

.margin5 {
  margin: 0 5px 0 5px
}
