.chat-list-list {
  padding: 0 50px 0 50px;
}

.send-message-block {
  align-self: center
}

.diffUserMessageSplitter {
  padding-bottom: 15px;
}

.chatHeader {
  padding: 5px;
  top: 0;
  height: max-content;
  background-color: #1a9480;
}
