.chat-block {
  text-decoration: none;
  color: black;
  align-items: center;
  padding: 3px;

  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%
  }

  .chat-title {
    font-weight: bold;
    font-size: 1.2rem;
  }

  .chat-block-child-container {
    max-width: calc(100% - 54px);
  }

  .chat-block-child {
    margin-left: 3px;
  }

  .unreadMessageCount {
    background-color: #adadad;
    border-radius: 7px;
    min-width: max-content;
    padding: 0 4px 0 4px;
    text-align: center
  }

  &:hover {
    background-color: #4f4faf;
    border-radius: 5px;
  }
}
